@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 205 90% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 216 28% 55%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 28% 88%;
    --input: 216 28% 88%;
    --ring: 205 90% 45%;
    --radius: 1rem;
    --chart-1: 205 90% 45%;
    --chart-2: 180 100% 30%;
    --chart-3: 216 28% 70%;
    --chart-4: 205 90% 70%;
    --chart-5: 180 100% 40%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 205 90% 45%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 205 90% 45%;
    --purple: 270 90% 50%;
    --violet: 290 90% 50%;
    --indigo: 240 80% 50%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 216 28% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 28% 10%;
    --muted-foreground: 216 28% 65%;
    --accent: 216 28% 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 28% 10%;
    --input: 216 28% 10%;
    --ring: 205 90% 45%;
    --radius: 1rem;
    --chart-1: 205 90% 45%;
    --chart-2: 180 100% 30%;
    --chart-3: 216 28% 70%;
    --chart-4: 205 90% 70%;
    --chart-5: 180 100% 40%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 216 28% 10%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 216 28% 10%;
    --sidebar-ring: 205 90% 45%;
    --purple: 270 90% 50%;
    --violet: 290 90% 50%;
    --indigo: 240 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
